
.container {
  width: 2000px;
  /* margin: 0 auto; */
  padding: 0 20px;
  border: 0px solid red;
}

.line-number, .page-number {
  text-align: right;
  margin-top: 50px;
}

.line {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}

.hieratic, .hieroglyphic {
  text-align: right;
}

img.hieroglyphic {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}